/*#region__________________________________________Global*/
body {
  font-family: 'Rubik', sans-serif;
}

.main-wrapper {
  min-height: 100vh;

  a {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
  }

  p {
    color: #78847D;
  }

  h2, h3, h4 {
    color: #253D32;
  }

  .cell-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .green-button {
    width: 243px;
    background: linear-gradient(328.68deg, #98AA28 13.03%, #D6FF7E 120.61%);
    box-shadow: 0 34px 50px rgba(7, 63, 67, 0.07);
    border-radius: 192px;
    border: none;
    padding: 27px 0;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
      opacity: 0.8;
      transform: scale(1.1);
    }

    a {
      font-size: 20px;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }
  }

  .section-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 65px;
    margin: 0 auto 30px;
  }

  .arrow-link {
    position: relative;
    display: block;

    a {
      font-weight: 500;
      font-size: 24px;
      letter-spacing: 0.02em;
      text-decoration-line: underline;
      text-decoration-thickness: 1px;
      color: #A3B938;
    }

    img {
      position: absolute;
      top: 3px;
      left: 122px;
    }
  }
}

/*#endregion*/

/*#region__________________________________________hero*/
.main-wrapper {

  .hero-wrapper {
    padding: 40px 0 200px 0;

    .navigation {
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;

      &-items {
        display: flex;
        list-style: none;
        gap: 52px;

        li {
          transition: 0.2s;

          a {
            color: #fff;
          }
        }

        li:hover {
          opacity: 0.5;
          transform: scale(1.1);
        }
      }

      &-button {
        width: 140px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(237, 255, 129, 0.4);
        border-radius: 116px;
        transition: 0.2s;
        position: relative;
        cursor: pointer;

        a {
          color: #fff;
          font-weight: 500;
          font-size: 16px;
        }
      }

      &-button:after {
        content: '»';
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        position: absolute;
        opacity: 0;
        top: 14px;
        right: -5px;
        transition: 0.5s;
      }

      &-button:hover {
        padding-right: 24px;
        padding-left: 8px;
      }

      &-button:hover:after {
        opacity: 1;
        right: 20px;
      }
    }

    .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h2 {
        position: relative;
        text-align: center;
        color: #fff;
        font-weight: 500;
        font-size: 36px;
        letter-spacing: 0.02em;
        opacity: 0.4;
        margin: 0;

        &:before {
          content: '';
          position: absolute;
          left: -105px;
          top: 24px;
          background: #fff;
          width: 60px;
          height: 1px;
          opacity: 0.8;
        }

        &:after {
          content: '';
          position: absolute;
          left: 219px;
          top: 24px;
          background: #fff;
          width: 60px;
          height: 1px;
          opacity: 0.4;
        }
      }

      .hero-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;


        h1 {
          font-weight: 600;
          font-size: 90px;
          letter-spacing: 0.04em;
          color: #fff;
          z-index: 1;
          margin: 30px auto;

        }

        img {
          position: absolute;
          top: 75%;
          left: 41%;
        }
      }

      p {
        text-align: center;
        max-width: 686px;
        font-size: 22px;
        line-height: 40px;
        color: #FFFFFF;
        opacity: 0.6;
        margin-bottom: 70px;
      }
    }
  }

  .partners-container {
    background: #F6FBF9;

    .partners {
      padding: 50px 0;
    }
  }
}

/*#endregion*/

/*#region__________________________________________partners*/
.main-wrapper {

  .partners-container {
    background: #F6FBF9;

    .partners {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px 0;
    }
  }
}

/*#endregion*/

/*#region__________________________________________offer*/
.main-wrapper {
  .offer {
    display: flex;
    gap: 110px;
    padding: 100px 0 120px;

    &-desc {
      width: 40%;

      p {
        max-width: 400px;
        font-size: 22px;
        line-height: 40px;
        padding-bottom: 40px;
      }
    }
  }
}

.offer-cards {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 90px;
  width: 50%;

  .offer-card {
    width: 42%;

    h3 {
      margin: 40px 0 25px;
      font-weight: 500;
      font-size: 24px;
    }

    p {
      font-size: 18px;
      line-height: 32px;
      margin: 0;
    }
  }
}


/*#endregion*/

/*#region__________________________________________media*/
.main-wrapper {
  .media {
    display: flex;
    gap: 66px;
    margin-bottom: 120px;

    .media-image {
      width: 85%;

      img {
        width: 100%;
      }
    }

    .media-desc {
      padding-top: 20px;

      p {
        font-size: 22px;
        margin: 0 0 50px;
      }
    }
  }
}

/*#endregion*/

/*#region__________________________________________help*/
.main-wrapper {
  .help-container {
    background: #F6FBF9;

    .help {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 100px;

      .work-steps {
        display: flex;
        justify-content: center;

        .work-step {
          position: relative;
          display: flex;
          width: 25%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 50px;

          .hover-image-text {
            font-size: 22px;
            line-height: 40px;
            text-align: center;
            padding: 0 60px;
            color: #253D32;
          }

          &:not(:last-child):after {
            content: "";
            position: absolute;
            border-top: 2px dashed #a2bdaa;
            width: 190px;
            top: 20px;
            left: 68%;
          }
        }

        .hover-image {
          display: flex;
          justify-content: center;
          margin-bottom: 55px;
          width: 40px;
          height: 40px;
          background: #FFFFFF;
          border-radius: 50%;
          border: 1px solid #A2BDAA;

          img {
            display: none;
          }

          &:hover {
            transform: scale(2.5);
            border: none;
            box-shadow: 0 20px 30px rgba(118, 153, 115, 0.05);
            margin-bottom: 57px;
            z-index: 1;

            img {
              display: block;
              transform: scale(0.45);
            }
          }

          &:hover ~ p {
            font-weight: 600;
          }
        }
      }

      .arrow-link {
        margin: 60px auto 100px;
      }
    }
  }
}


/*#endregion*/

/*#region__________________________________________article*/
.main-wrapper {
  .article {
    display: flex;
    flex-direction: column;

    .article-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 120px 0 60px;

      .section-title {
        max-width: 500px;
        margin: 0;
      }

      .link {
        display: flex;
        gap: 70px;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;

        .link-underline {
          position: relative;

          .green-underline {
            color: #808371;
            opacity: 0.9;

            &:after {
              content: "";
              position: absolute;
              background: #98AA28;
              height: 3px;
              width: 104px;
              top: 40px;
              left: 45px;
              display: none;
            }

            &:hover {
              color: #253D32;

              &:after {
                display: block;
              }
            }
          }
        }
      }
    }

    .article-cards {
      display: flex;
      gap: 50px;
      margin-bottom: 60px;

      .big-card {
        h3 {
          font-size: 26px;
          line-height: 36px;
          margin: 0 0 50px;
        }

        p {
          margin-top: 25px;
          font-size: 18px;
          color: #808371;
        }

        .article-button {
          min-width: 206px;
          background: transparent;
          border: 1px solid #A3B938;
          border-radius: 192px;
          padding: 22px 50px;
          transition: 0.2s;
          position: relative;
          cursor: pointer;

          a {
            font-weight: 600;
            font-size: 20px;
            color: #98AA28;
          }
        }

        .article-button:hover {
          transform: scale(1.1);
          opacity: 0.8;
        }
      }

      .small-cards {
        display: flex;
        gap: 40px;

        .small-card-image {
          width: 270px;
        }
      }

      .date {
        margin: 25px 0 12px;
        font-size: 14px;
        color: #808371;
      }

      h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        margin: 0;
      }

      p {
        font-size: 18px;
        line-height: 30px;
        margin: 16px 0 40px;
      }

      .show {
        width: 67px;
        height: 67px;
        border: 1px solid #A3B938;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;

        &:hover {
          transform: scale(1.1);
          opacity: 0.8;
        }
      }
    }
  }
}


/*#endregion*/

/*#region__________________________________________subscribe*/
.main-wrapper {
  .subscribe {
    position: relative;
    margin-top: 60px;
    margin-bottom: 85px;

    .top-left {
      position: absolute;
      top: 0;
      left: 0;
    }

    .bottom-right {
      position: absolute;
      bottom: -27px;
      right: -77px;
    }
  }

  .subscribe-form {
    position: absolute;
    top: 100px;
    left: 130px;
    width: 660px;

    h2 {
      font-weight: 600;
      font-size: 32px;
      line-height: 55px;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      margin: 0 0 30px;
    }

    img {
      width: 264px;
      margin-bottom: 62px;
    }

    input {
      width: 372px;
      height: 78px;
      background: linear-gradient(332.09deg, #FFFFFF 3.37%, #E2E2E2 132.9%);
      box-shadow: 0 34px 50px rgba(7, 63, 67, 0.07);
      border-radius: 192px;
      outline: none;
      border: none;

      &::placeholder {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.02em;
        color: #14183E;
        padding-left: 40px;
      }

    }

    button {
      margin-left: 30px;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }
  }
}

/*#endregion*/

/*#region__________________________________________footer*/
.main-wrapper {
  .footer-sitemap {
    display: flex;
    gap: 170px;
    margin-bottom: 60px;
  }

  .socials {
    display: flex;
    flex-direction: column;
    width: 36%;
    gap: 30px;

    &-logo {
      width: 200px;
    }

    p {
      font-size: 20px;
      line-height: 34px;
      letter-spacing: 0.01em;
    }

    &-icons {
      display: flex;
      gap: 24px;

      .socials-icon-facebook {
        position: relative;

        .hover-icon-facebook {
          position: absolute;
          width: 40px;
          top: -4px;
          left: -3px;
          display: none;
        }

        &:hover {
          .hover-icon-facebook {
            z-index: 2;
            display: block;
            background: #fff;
          }
        }
      }

      .socials-icon-twitter {
        position: relative;

        .hover-icon-twitter {
          position: absolute;
          width: 40px;
          top: -6px;
          left: 0px;
          display: none;
        }

        &:hover {
          .hover-icon-twitter {
            z-index: 2;
            display: block;
            background: #fff;
          }
        }
      }

      .socials-icon-instagram {
        position: relative;

        .hover-icon-instagram {
          position: absolute;
          width: 40px;
          top: -4px;
          left: -3px;
          display: none;
        }

        &:hover {
          .hover-icon-instagram {
            z-index: 2;
            display: block;
            background: #fff;
          }
        }
      }
    }
  }

  .sitemap-items {
    display: flex;
    justify-content: space-between;
    width: 70%;
    gap: 60px;
    padding-right: 70px;

    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 28px;
    }

    ul{
      list-style: none;
      padding: 0;
      line-height: 34px;

      li:hover  {
        opacity: 0.8;
      }

      a {
        color: #78847D;
      }
    }
  }
}
.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  span {
    height: 2px;
    width: 100%;
    border-top: 1px solid rgba(20, 24, 62, 0.15);
    margin-bottom: 30px;
  }
}

/*#endregion*/